@import url("photographer.css");

html {
    max-width: 1240px;
    margin: 0 auto;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.container {
    margin: 0 100px;
    max-width: 1240px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    text-align: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    text-decoration: none;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photographer_section article ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.photographer_section article li p {
    margin: 0;
}

.photographer_section article ul li:nth-of-type(1) {
    color: #901C1C;
}

.photographer_section article ul li:nth-of-type(2) {
    font-weight: bold;
}

.photographer_section article ul li:nth-of-type(3) {
    color: grey;
}